.container {
   width: 100vw;
   height: 100vh;

   background: var(--blue);

   display: flex;
}

.container section {
   width: 19.875rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.container section p {
   margin-top: 2rem;

   font-size: 2.25rem;
   font-weight: 600;
   color: var(--white);
}

.container section div {
   margin: 2rem 0rem;
   display: flex;
   align-items: center;
}

.container section div span {
   font-size: 1.25rem;
   font-weight: 500;
   color: #B2B9FF;
   margin-left: 1.5rem;
}

.container section div button {
   height: 4rem;
   width: 100%;

   background: var(--blue-dark);
   border: none;
   outline: none;
   font-weight: 500;
   color: #FFFFFF;

   display: flex;
   align-items: center;
   justify-content: center;

   transition: background 0.2s;
}

.container section div button svg {
   margin-left: 1.5rem;
}

.container section div button:hover {
   background: var(--green);
}